Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

feat: adding notifications options
  parcellab/common/templates/_rollout.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: running prettier
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore(): pin @commitlint/cli v19.2.1 dev
  package-lock.json
  package.json
Labels: deps, json

feat: update canary and blue green deployment (#203)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_analysistemplate.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/common/templates/_rolloutdeployment.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/rollout.yaml
  parcellab/microservice/templates/rolloutdeployment.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/rollout.yaml
  parcellab/monolith/templates/rolloutdeployment.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/rollout.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release redis v19
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v15
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v20.12.0
  package-lock.json
  package.json
Labels: deps, json

feat: Add support for extra ports in service and pod templates
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_service.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore(): pin node.js >=v20.12.2
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v15
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: Inlcuding preview service for rollout in conditional
  parcellab/common/templates/_rollout.tpl
Labels: none

feat: Add support for extra ports in service and pod templates (#208)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/common/templates/_service.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v13.4.4 (#183)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v18.19.4 (#184)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v20.12.2 (#198)
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

Update values.yaml
  parcellab/microservice/values.yaml
Labels: yaml

chore(): pin @commitlint/cli v19.3.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v19.3.0 dev
  package-lock.json
  package.json
Labels: deps, json

fix: Fixing templates for poddisruptionbudget in worker-group chart.
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/poddisruptionbudget-workers.yaml
  parcellab/worker-group/templates/poddisruptionbudget.yaml
Labels: yaml

fix: Fixing templates for poddisruptionbudget in worker-group chart. (#212)
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/poddisruptionbudget-workers.yaml
  parcellab/worker-group/templates/poddisruptionbudget.yaml
Labels: yaml

Update Chart.yaml
  parcellab/microservice/Chart.yaml
Labels: yaml

feat: Pumping versions for all charts to create new releases.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: Update values.yaml (#210)
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: Rolling back worker-group version.
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: Updating test workflow to separate releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating test workflow to separate releases. (#213)
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating test workflow to separate releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating test workflow to separate releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating test workflow to separate releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Rolling back changes in workflow.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating test workflow to separate releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Adding new conditional if chart has been updated.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Adding new conditional if chart has been updated.
  .github/workflows/test.yaml
Labels: ci, yaml

fix: Pumping worker-group version.
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Rolling back worker-group version.
  parcellab/worker-group/Chart.yaml
Labels: yaml
