Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

chore(monolith): pin helm release mongodb v15.6.23
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin commitlint monorepo v19.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.6 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.6 dev (#266)
  package-lock.json
  package.json
Labels: deps, json

get rid of versions and annotations template
  parcellab/common/templates/_annotations.tpl
  parcellab/common/templates/_labels.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

chore(monolith): pin helm release mongodb v15.6.23 (#251)
  parcellab/monolith/Chart.yaml
Labels: yaml

Bump version
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(): pin node.js >=v20.17.0 (#218)
  package-lock.json
  package.json
Labels: deps, json

remove datadog version label too
  parcellab/common/templates/_pod.tpl
Labels: none

feat: make argo hook conditional, allow specify image on job level (#264)
  parcellab/common/templates/_annotations.tpl
  parcellab/common/templates/_job.tpl
  parcellab/common/templates/_labels.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

Bump version
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Testing updates
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Testing updates
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Testing updates
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Testing updates
  .github/workflows/release.yaml
  parcellab/common/templates/_labels.tpl
Labels: ci, yaml

fix: Testing updates
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Updating the release chart (#267)
  .github/workflows/release.yaml
  parcellab/common/templates/_labels.tpl
Labels: ci, yaml

fix: Changing back to main branch in release pipeline
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Removing dummy comments for release pipeline test
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Removing dummy comments for release pipeline test (#268)
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Adding dummy comment again in labels.tpl
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Adding dummy comment again in labels.tpl (#269)
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Removing dummy comments for release pipeline test
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Removing dummy comments for release pipeline test (#270)
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Adding dummy comment again in labels.tpl
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Adding dummy comment again in labels.tpl (#271)
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Removing dummy comments for release pipeline test
  parcellab/common/templates/_labels.tpl
Labels: none

fix: Removing dummy comments for release pipeline test (#272)
  parcellab/common/templates/_labels.tpl
Labels: none

Bump version
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: Rolling back latest version bumping for charts
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Testing updates
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
