Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

chore(monolith): pin helm release postgresql v12.6.3
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.16.1 (#97)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.11.7 (#96)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.6.3 (#95)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: rolling back versions for postgresql chart and redis chart
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: rolling back versions for postgresql chart and redis chart (#101)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v17.13.2
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.17.0
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v12.6.9
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v17.13.2 (#103)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.6.9 (#102)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.17.0 (#104)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.14.2
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.7.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: disable tracing in datadog
  parcellab/common/templates/_datadog.tpl
Labels: none

chore: update chart versions
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.7.1 (#106)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v17.14.2 (#107)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: update chart versions (#108)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: update chart common
  parcellab/common/Chart.yaml
Labels: yaml

chore: update version of chart common (#109)
  parcellab/common/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin prettier v3.0.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.0.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.3.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.3.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged v14 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged v14 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.0.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.0.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^14.0.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^14.0.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.17.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin prettier v3.0.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.0.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin actions/checkout action v4
  .github/workflows/test.yaml
Labels: ci, yaml
