Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

fix: Testing updates (#273)
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Removing dummy comments for release pipeline test
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Removing dummy comments for release pipeline test (#274)
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Adding dummy comment again in labels.tpl
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Adding dummy comment again in labels.tpl (#275)
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Removing dummy comments for release pipeline test
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Removing dummy comments for release pipeline test (#276)
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Adding dummy comment in cronjob-extra.yaml
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Adding dummy comment in cronjob-extra.yaml (#277)
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Updating the release chart
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Adding dummy comment in cronjob-extra.yaml
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

fix: Adding dummy comment in cronjob-extra.yaml (#278)
  parcellab/cronjob/templates/cronjob-extra.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v15.6.26
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: correct moved secret reference
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Pumping monolith version
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: Pumping monolith version (#280)
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: rolling back release pipeline
  .github/workflows/release.yaml
Labels: ci, yaml

feat: rolling back monolith version
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: rolling back release pipeline
  .github/workflows/release.yaml
Labels: ci, yaml

feat: rolling back release pipeline (#281)
  .github/workflows/release.yaml
  parcellab/monolith/Chart.yaml
Labels: ci, yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin node.js >=v20.18.0
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v16
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: Pumping microservice helm chart version to fix index
  parcellab/microservice/Chart.yaml
Labels: yaml

fix: Pumping microservice helm chart version to fix index (#284)
  parcellab/microservice/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v16
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: remove default cpu limits
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

fix: remove default cpu limits (#285)
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: bump versions
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: bump versions (#286)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v16
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v15.6.26 (#279)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v15.5.29 (#216)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v20.18.0 (#283)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v20 (#242)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v15.5.38
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.2.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml
