Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

fix: remove job history limit (#143)
  parcellab/common/templates/_job.tpl
  parcellab/monolith/values.yaml
Labels: yaml

chore(): pin prettier v3.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore: enabling worker deploys with no replicas (#148)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: update chart versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: Adding CODEOWNERS (#150)
  CODEOWNERS
  parcellab/monolith/Chart.yaml
Labels: docs, yaml

fix: replica set revision history limit (#146)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: remove replicacount default value
  parcellab/common/Chart.yaml
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: enable disabling of replica count on primary service for autoscaling
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

fix: update chart versions
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.4.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.4.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore: rename disableReplicas to disableReplicaCount
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: enable disabling of replica count on primary service for autoscaling (#152)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: default values dont work well with booleans
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: default values dont work well with booleans (#153)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.4.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.4.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore: Initial templates
  parcellab/common/templates/_keda.tpl
  parcellab/monolith/templates/keda-workers.yaml
Labels: yaml

chore: Adding $root scope to template
  parcellab/common/templates/_keda.tpl
  parcellab/monolith/templates/keda-workers.yaml
Labels: yaml

chore: Improvements for KEDA templates
  parcellab/common/templates/_keda.tpl
  parcellab/monolith/templates/keda-workers.yaml
  parcellab/monolith/values.yaml
Labels: yaml

chore: typo
  parcellab/common/templates/_keda.tpl
Labels: none

chore: bumping versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: create keda scaling from workers definition (#157)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/keda-workers.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: We do not need the namespace here
  parcellab/common/templates/_keda.tpl
Labels: none

chore: bumping values
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: removing duplicate value (#158)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: adding lifecycle hook feature for pods
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: adding lifecycle hook feature for pods (#159)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: go templating is hard
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: go templating is hard (#160)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: We only use KEDA scaling with visible messages
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
