Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

chore(): pin lint-staged ^15.2.8 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v19.4.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v19.4.0 dev
  package-lock.json
  package.json
Labels: deps, json

feat: allow init and extra containers creation for individual deployments
  parcellab/common/templates/_pod.tpl
Labels: none

bump version
  parcellab/common/Chart.yaml
Labels: yaml

bump versions of other charts too
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v2
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(): pin lint-staged ^15.2.9 dev
  package-lock.json
  package.json
Labels: deps, json

save changes
  parcellab/common/templates/_pod.tpl
Labels: none

chore(): pin lint-staged ^15.2.9 dev
  package-lock.json
  package.json
Labels: deps, json

move - and indent inside of the container template
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

revert unwanted changes
  parcellab/common/templates/_pod.tpl
Labels: none

fix: allow init and extra containers creation for individual deploym… (#241)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: add startup probe to the default container level
  parcellab/common/templates/_pod.tpl
Labels: none

bump versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: add startup probe to the default container level (#245)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: INF-1731 Use command for each init and extra Container
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/monolith/Chart.yaml
Labels: yaml

bump all other charts versions
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: INF-1731 Use command for each init and extra Container (#246)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: monolith postgres version
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v2 (#243)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

fix: monolith postgres version (#247)
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: common ExternalSecret and ConfigMap definition for additional containers
  parcellab/common/templates/_container.tpl
Labels: none

Add args support to the additional containers, bump versions
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: ExternalSecret and ConfigMap definition for additional containers (#248)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: add Mongo helm chart to the Monolith
  parcellab/monolith/Chart.yaml
Labels: yaml

run linter
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: add Mongo helm chart to the Monolith (#249)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin husky ^9.1.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v20.17.0
  package-lock.json
  package.json
Labels: deps, json

merge two command statements into one
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

feat: Add `args` support to the jobs (#252)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Set kubeval strict property to false
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Set kubeval strict property to false (#253)
  .github/workflows/release.yaml
Labels: ci, yaml
