Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.4.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.4.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v18.3.2
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: Support deploys with no pods
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: increase version number for all charts
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: Support deploys with no pods (#139)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: simple test
  parcellab/common/templates/_deployment.tpl
Labels: none

Revert "feat: updating monolith chart to use latest common templates (#132)"
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin @commitlint/cli v18.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v18.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v13
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js v20 (#129)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v18.3.2 (#123)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v13 (#126)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.1.0 dev (#140)
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin helm/chart-releaser-action action vv1.6.0 (#135)
  .github/workflows/test.yaml
Labels: ci, yaml

fix: correct deployment template
  parcellab/common/templates/_deployment.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: yaml

chore: allow setting failed/successful history limit on jobs
  parcellab/common/templates/_job.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

chore: allow setting failed/successful history limit on jobs (#141)
  parcellab/common/templates/_job.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

fix: update common chart version number
  parcellab/common/Chart.yaml
Labels: yaml

fix: update common chart version number (#142)
  parcellab/common/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: remove job history limit
  parcellab/common/Chart.yaml
  parcellab/common/templates/_job.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

fix: remove job history limit
  parcellab/common/templates/_job.tpl
  parcellab/monolith/values.yaml
Labels: yaml

chore(): pin prettier v3.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

fix: remove job history limit (#143)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_job.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: replica set revision history limit
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

fix: remove replicacount default value
  parcellab/common/Chart.yaml
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: Enabling worker deploys with no replicas
  parcellab/common/templates/_deployment.tpl
Labels: none

chore: Enabling worker deploys with no replicas
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: Adding flag to documentation
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: enabling worker deploys with no replicas (#148)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: Adding CODEOWNERS
  CODEOWNERS
  parcellab/monolith/Chart.yaml
Labels: docs, yaml

chore: Adding CODEOWNERS (#150)
  CODEOWNERS
  parcellab/monolith/Chart.yaml
Labels: docs, yaml

Update index.yaml
  index.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
