Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin husky ^9.0.10 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.0.10 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.2.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore: adding PodDisruptionBudget for specific jobs
  parcellab/common/templates/_job.tpl
Labels: none

chore: adding PodDisruptionBudget for specific jobs
  parcellab/common/templates/_job.tpl
Labels: none

chore: adding PodDisruptionBudget for specific jobs
  parcellab/common/templates/_job.tpl
Labels: none

chore(): pin prettier v3.2.5 dev
  package-lock.json
  package.json
Labels: deps, json

feat: enabling pod template annotations
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: enabling pod template annotations (#194)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.6.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.6.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/config-conventional v18.6.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/config-conventional v18.6.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.0.11 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.0.11 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.0.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.0.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v14
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin commitlint monorepo v19.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

feat: teamplate for bluegreen deployments
  parcellab/common/Chart.yaml
  parcellab/common/templates/_bluegreen.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/bluegreen.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/bluegreen.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/bluegreen.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: templates for argo rollouts
  parcellab/common/templates/_rolloutdeployment.tpl
  parcellab/common/values.yaml
  parcellab/microservice/templates/bluegreen.yaml
  parcellab/microservice/templates/rolloutdeployment.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/templates/bluegreen.yaml
  parcellab/monolith/templates/rolloutdeployment.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/templates/rolloutdeployment.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: running prettier
  parcellab/common/values.yaml
Labels: yaml

feat: refactoring analysis templates creation and updating examples
  parcellab/common/templates/_rolloutdeployment.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: fixing common chart version
  parcellab/common/Chart.yaml
Labels: yaml

feat: refactoring analysis templates creation and updating examples
  parcellab/common/templates/_rolloutdeployment.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: template for blue/green deployments (#202)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_rolloutdeployment.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/rolloutdeployment.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/rolloutdeployment.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/rolloutdeployment.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: renamed rolloutDeployment to argoRollout and refactored the rollout template to match the analysis concept
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/common/templates/_rolloutdeployment.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/rollout.yaml
  parcellab/microservice/templates/rolloutdeployment.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/rollout.yaml
  parcellab/monolith/templates/rolloutdeployment.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/rollout.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore(): pin @commitlint/cli v19.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v19.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v18.19.4
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin @commitlint/cli v19.2.1 dev
  package-lock.json
  package.json
Labels: deps, json

feat: fixing typo and separating analysistemplate
  parcellab/common/templates/_analysistemplate.tpl
  parcellab/common/templates/_rollout.tpl
Labels: none

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
