Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

chore(): pin commitlint monorepo v17.6.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.8 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.8 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.3 dev
  package-lock.json
  package.json
Labels: deps, json

feat: adding default provisioner for nodeSelector in charts
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore(monolith): pin helm release redis v17.11.3
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.5.6
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin commitlint monorepo v17.6.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.11.3 (#76)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.5.6 (#75)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.16.0 (#83)
  package-lock.json
  package.json
Labels: deps, json

feat: adding default provisioner for nodeSelector in charts (#89)
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: updating nodeselector for charts
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: updating nodeselector for charts (#91)
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: changing nodeselector
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: changing nodeselector (#92)
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: adding strategy in deployment
  parcellab/common/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: adding strategy in deployment
  parcellab/common/templates/_deployment.tpl
Labels: none

feat: removing nodeselector
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: removing nodeselector (#94)
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: adding default strategy
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: adding strategy in deployment (#93)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

fix: set strategy globally
  .gitignore
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: bump cronjob chart
  parcellab/cronjob/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: bump charts
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin node.js >=v18.16.1
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.6 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.6 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.2.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.2.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.11.7
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin prettier v3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3 dev
  package-lock.json
  package.json
Labels: deps, json
