Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: add reloader annotation
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

rework annotations
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
Labels: yaml

use deploymentAnnotations everywhere
  parcellab/common/templates/_deployment.tpl
Labels: none

feat: add deployment annotations (#409)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: allow containerEnv to use map format aside from list
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: allow containerEnv to use map format aside from list (#410)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: update chart dependencies to use bitnamilegacy repository
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: allow allowInsecureImages
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: correct allowInsecureImages setting
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: update chart dependencies to use bitnamilegacy repository (#411)
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

fix: chart versions
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: don't use generated name for hook
  parcellab/common/Chart.yaml
  parcellab/common/templates/_job.tpl
  parcellab/monolith/values.yaml
Labels: yaml

chore: bump chart versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: don't use generated name for hook (#412)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_job.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: inf-3308 adapt charts to support Envoy Gateway
  parcellab/common/Chart.yaml
  parcellab/common/templates/_httproute.tpl
  parcellab/common/templates/_referencegrant.tpl
  parcellab/common/templates/_routing.tpl
  parcellab/common/templates/_securitypolicy.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/README.md
  parcellab/microservice/templates/httproute.yaml
  parcellab/microservice/templates/referencegrant.yaml
  parcellab/microservice/templates/securitypolicy.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/README.md
  parcellab/monolith/templates/httproute.yaml
  parcellab/monolith/templates/referencegrant.yaml
  parcellab/monolith/templates/securitypolicy.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: docs, yaml

feat: inf-3308 adapt charts to support Envoy Gateway
  parcellab/common/templates/_httproute.tpl
  parcellab/common/templates/_referencegrant.tpl
  parcellab/common/templates/_securitypolicy.tpl
  parcellab/common/values.yaml
Labels: yaml

fix: PDB naming and default parameters
  parcellab/common/Chart.yaml
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/common/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/poddisruptionbudget.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/poddisruptionbudget.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: inf-3308 adapt charts to support Envoy Gateway
  parcellab/microservice/templates/httproute.yaml
  parcellab/microservice/templates/referencegrant.yaml
  parcellab/microservice/templates/securitypolicy.yaml
  parcellab/monolith/templates/httproute.yaml
  parcellab/monolith/templates/referencegrant.yaml
  parcellab/monolith/templates/securitypolicy.yaml
Labels: yaml

fix labels
  parcellab/common/templates/_poddisruptionbudget.tpl
Labels: none

fix: PDB naming, labels, and default parameters (#414)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/common/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/poddisruptionbudget.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/poddisruptionbudget.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: inf-3308 adapt charts to support Envoy Gateway
  parcellab/common/templates/_httproute.tpl
  parcellab/common/templates/_referencegrant.tpl
  parcellab/common/templates/_routing.tpl
  parcellab/common/templates/_securitypolicy.tpl
  parcellab/common/values.yaml
  parcellab/microservice/README.md
  parcellab/microservice/templates/httproute.yaml
  parcellab/microservice/templates/referencegrant.yaml
  parcellab/microservice/templates/securitypolicy.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/README.md
  parcellab/monolith/templates/httproute.yaml
  parcellab/monolith/templates/referencegrant.yaml
  parcellab/monolith/templates/securitypolicy.yaml
  parcellab/monolith/values.yaml
Labels: docs, yaml

fix: update PDB manifest version
  parcellab/common/Chart.yaml
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: updates based on tests with FBA
  parcellab/common/templates/_httproute.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/common/templates/_referencegrant.tpl
  parcellab/common/templates/_securitypolicy.tpl
  parcellab/common/values.yaml
  parcellab/microservice/templates/httproute.yaml
  parcellab/microservice/templates/httproutes.yaml
  parcellab/microservice/templates/securitypolicies.yaml
  parcellab/microservice/values.yaml
Labels: yaml

chore: updatae monolith
  parcellab/monolith/templates/httproute.yaml
  parcellab/monolith/templates/httproutes.yaml
  parcellab/monolith/templates/securitypolicies.yaml
  parcellab/monolith/values.yaml
Labels: yaml

chore: linted and added sample values to microservice for gateway
  package.json
  parcellab/microservice/values.yaml
  parcellab/worker-group/README.md
Labels: deps, docs, json, yaml

chore: added value samples to monolith
  parcellab/monolith/values.yaml
Labels: yaml

chore: rename file
  parcellab/common/templates/_securitypolicy.tpl
Labels: none

chore: rename file
  parcellab/common/templates/_securitypolicies.tpl
Labels: none

chore: delete unused tempalte
  parcellab/common/templates/_routing.tpl
Labels: none

fix: add validation to prevent invalid ReferenceGrant resources (#418)
  parcellab/common/templates/_referencegrant.tpl
Labels: none

fix: enhance charts to support Envoy Gateway based on feedback (#417)
  parcellab/common/templates/_httproutes.tpl
Labels: none

chore: remove invalid block
  parcellab/common/templates/_securitypolicies.tpl
Labels: none

Update parcellab/monolith/README.md
  parcellab/monolith/README.md
Labels: docs

Update parcellab/common/templates/_referencegrant.tpl
  parcellab/common/templates/_referencegrant.tpl
Labels: none

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
