Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

chore(workflows): pin helm/chart-releaser-action action vv1.5.0 (#53)
  .github/workflows/test.yaml
Labels: ci, yaml

chore: bump version in microservice and monolith
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: enable cronjobs only when name is present
  parcellab/monolith/templates/cronjobs.yaml
Labels: yaml

fix: enable cronjobs only when name is present (#62)
  parcellab/monolith/templates/cronjobs.yaml
Labels: yaml

fix: updated version of monolith to 0.0.20
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: updated version of monolith to 0.0.20 (#63)
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: updated version of monolith to 0.0.21 removed obsolete cronjob template because /just used for template values for each job defined in cronjobs attribute
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/cronjob.yaml
  parcellab/monolith/templates/cronjobs.yaml
Labels: yaml

fix: updated version of monolith to 0.0.21 removed obsolete cronjob template because /just used for template values for each job defined in cronjobs attribute (#64)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/cronjob.yaml
  parcellab/monolith/templates/cronjobs.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

core: add volume for statsd to pods
  parcellab/common/templates/_pod.tpl
Labels: none

fix: overwrite image repository if explicitely given
  parcellab/common/Chart.yaml
  parcellab/common/templates/_names.tpl
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: bump all charts with new common change
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: remove dashes before volume if
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: bump charts
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin lint-staged ^13.1.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.1.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.4.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.4.3 dev
  package-lock.json
  package.json
Labels: deps, json

feat: add redis and postgresql support
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin lint-staged ^13.1.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.1.2 dev
  package-lock.json
  package.json
Labels: deps, json

feat: added the ability to inject init containers and sidecars to microservice
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/common/values.yaml
  parcellab/microservice/values.yaml
Labels: yaml

feat: added newline
  parcellab/microservice/values.yaml
Labels: yaml

feat: added config
  parcellab/microservice/values.yaml
Labels: yaml

feat: extracted datadog env vars
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_datadog.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

feat: added support for separate secrets and configmaps for containers
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/microservice/templates/configmap.yaml
  parcellab/microservice/templates/externalsecret.yaml
Labels: yaml

feat: add postgres and redis support to cronjob and microservice charts
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v17.4.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.4.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v12.2.2
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
