Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

chore(): pin prettier v3.3.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.3.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.3.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.7 dev
  package-lock.json
  package.json
Labels: deps, json

fix: inf-1597 Consider the cronjob default block and pass it to cronjob template
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/cronjobs.yaml
Labels: yaml

fix: inf-1597 Consider the cronjob default block and pass it to cronjob template (#228)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/cronjobs.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin prettier v3.3.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.3.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.3.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.3.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.1 dev
  package-lock.json
  package.json
Labels: deps, json

feat: Changing default restartPolicy to Never for cronjobs and jobs.
  parcellab/common/templates/_pod.tpl
Labels: none

feat: Upgrading versions in charts.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: Changing default restartPolicy to Never for cronjobs and jobs. (#232)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: Adding timeZone configuration for cronjobs.
  parcellab/common/Chart.yaml
  parcellab/common/templates/_cronjob.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(): pin node.js >=v20.16.0
  package-lock.json
  package.json
Labels: deps, json

feat: Adding timeZone configuration for cronjobs. (#233)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_cronjob.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin husky ^9.1.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v15.5.20
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v19
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: Add startupProbe to the pods configuration
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore(): pin husky ^9.1.2 dev
  package-lock.json
  package.json
Labels: deps, json

test/INF-1697-dummy-commit
  parcellab/worker-group/README.md
Labels: docs

feat: inf-1697 Add startupProbe to the pod's configuration (#235)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/README.md
  parcellab/worker-group/values.yaml
Labels: docs, yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin husky ^9.1.3 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.3 dev
  package-lock.json
  package.json
Labels: deps, json

feat: Removing default timezone monolith chart.
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: Removing default timezone monolith chart. (#237)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin husky ^9.1.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.8 dev
  package-lock.json
  package.json
Labels: deps, json

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
