Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

fix: correct policy namespace
  parcellab/common/templates/_securitypolicies.tpl
Labels: none

Apply suggestion from @Copilot
  parcellab/common/templates/_httproutes.tpl
Labels: none

Apply suggestion from @Copilot
  parcellab/microservice/values.yaml
Labels: yaml

Apply suggestion from @Copilot
  parcellab/monolith/values.yaml
Labels: yaml

Apply suggestion from @Copilot
  package.json
Labels: deps, json

fix: update PDB manifest version (#415)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: inf-3308 adapt charts to support Envoy Gateway (#413)
  package.json
  parcellab/common/Chart.yaml
  parcellab/common/templates/_httproutes.tpl
  parcellab/common/templates/_referencegrant.tpl
  parcellab/common/templates/_securitypolicies.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/README.md
  parcellab/microservice/templates/httproutes.yaml
  parcellab/microservice/templates/referencegrant.yaml
  parcellab/microservice/templates/securitypolicies.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/README.md
  parcellab/monolith/templates/httproutes.yaml
  parcellab/monolith/templates/referencegrant.yaml
  parcellab/monolith/templates/securitypolicies.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/README.md
Labels: deps, docs, json, yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: INF-3543 Align HTTPRoute BackendRefs With Rollout Services
  parcellab/common/Chart.yaml
  parcellab/common/templates/_httproutes.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: INF-3543 Align HTTPRoute BackendRefs With Rollout Services
  parcellab/common/templates/_httproutes.tpl
Labels: none

feat: INF-3543 updating ingress to follow same pattern
  parcellab/common/templates/_ingress.tpl
Labels: none

feat: INF-3543 adding BackendTrafficPolicy and ClientTrafficPolicy templates
  parcellab/common/templates/_backendtrafficpolicy.tpl
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/microservice/README.md
  parcellab/microservice/values.yaml
  parcellab/monolith/README.md
  parcellab/monolith/values.yaml
Labels: docs, yaml

feat: INF-3543 adding common.rolloutServicesMap and clean replacements and duplicated blocks
  parcellab/common/templates/_httproutes.tpl
  parcellab/common/templates/_ingress.tpl
  parcellab/common/templates/_rollout.tpl
Labels: none

fixing root context for loop
  parcellab/common/templates/_httproutes.tpl
Labels: none

implementing fix with new resources templates
  parcellab/common/templates/_httproutes.tpl
Labels: none

feat: INF-3543 Align HTTPRoute BackendRefs With Rollout Services (#419)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_backendtrafficpolicy.tpl
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/common/templates/_ingress.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/README.md
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/README.md
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: docs, yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: extend securitypolicy with backendRef attribute
  parcellab/common/templates/_securitypolicies.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: adding global envoy policies option
  parcellab/common/Chart.yaml
  parcellab/common/templates/_httproutes.tpl
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update parcellab/microservice/values.yaml
  parcellab/microservice/values.yaml
Labels: yaml

Update parcellab/monolith/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: adding global envoy policies option
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: adding global envoy policies option
  parcellab/common/Chart.yaml
  parcellab/common/templates/_httproutes.tpl
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

chore: bump chart versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: bump patch version of charts
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: adding global envoy policies option
  parcellab/common/templates/_backendtrafficpolicy.tpl
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: adding global envoy policies option
  parcellab/common/templates/_backendtrafficpolicy.tpl
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: adding global envoy policies option
  parcellab/common/templates/_backendtrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
Labels: none

feat: adding global envoy policies option (#422)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_backendtrafficpolicy.tpl
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: Removing clientTrafficPolicy and small fixes
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

feat: Removing clientTrafficPolicy and small fixes
  parcellab/microservice/README.md
  parcellab/monolith/README.md
Labels: docs

feat: Removing clientTrafficPolicy and small fixes (#423)
  parcellab/common/templates/_clienttrafficpolicy.tpl
  parcellab/common/templates/_httproutes.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/microservice/README.md
  parcellab/microservice/values.yaml
  parcellab/monolith/README.md
  parcellab/monolith/values.yaml
Labels: docs, yaml

feat: Bumping versions to take latest changes
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: Bumping versions to take latest changes (#424)
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: extend securitypolicy with backendRef attribute (#420)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_securitypolicies.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: make annoations for security policies configurable
  parcellab/common/templates/_securitypolicies.tpl
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml
