Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

fix: fix for default worker
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: fix for default worker (#173)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: fixing strategy for workers in common.deployment template
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: fixing stretgy workers (#174)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: deployment strategy from worker
  parcellab/common/templates/_deployment.tpl
Labels: none

fix: update chart version
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.4.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.4.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v20.11.0
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.2.2 dev
  package-lock.json
  package.json
Labels: deps, json

fix: fixing podDisruptingbudget in templates
  parcellab/common/Chart.yaml
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/poddisruptionbudget.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/poddisruptionbudget.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: rolling back unnecessary changes
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/microservice/templates/poddisruptionbudget.yaml
  parcellab/monolith/templates/poddisruptionbudget.yaml
Labels: yaml

fix: fixing podDisruptingbudget in templates (#179)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_poddisruptionbudget.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/poddisruptionbudget.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin prettier v3.2.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.2.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v13.3.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v18.7.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: fixing hpa template with deployment names
  parcellab/common/templates/_hpa.tpl
Labels: none

fix: fixing hpa template with deployment names (#180)
  parcellab/common/templates/_hpa.tpl
Labels: none

chore(): pin node.js >=v20.11.0 (#156)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v13.3.1 (#154)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v18.7.1 (#144)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: upgrading charts versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: upgrading charts versions (#181)
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.6.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.6.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky v9 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky v9 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v13.4.4
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: correct job attribute
  parcellab/common/Chart.yaml
  parcellab/common/templates/_cronjob.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: correct job attribute (#188)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_cronjob.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml
