Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

chore(monolith): pin helm release mongodb v16
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v15.5.38 (#287)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.2.1 (#288)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16 (#289)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.3.0
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.3.0
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.3.0 (#290)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.3.0 (#291)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin husky ^9.1.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin husky ^9.1.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.6.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.6.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v20.18.1
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v20.18.1 (#294)
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin parcellab/ci action v3
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(): pin prettier v3.4.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.4.0 dev (#296)
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin parcellab/ci action v3 (#295)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(): pin prettier v3.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.3.1
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin prettier v3.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.3.1 (#298)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v4
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(workflows): pin parcellab/ci action v4 (#299)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

fix: delete PersistentVolumes after StatefulSet removal
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

run linter
  parcellab/monolith/values.yaml
Labels: yaml

fix: delete PersistentVolumes after StatefulSet removal (#300)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.4.0
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.4.0 (#301)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin prettier v3.4.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.3.2
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin prettier v3.4.2 dev
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin parcellab/ci action v5
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(workflows): pin parcellab/ci action v5 (#304)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(monolith): pin helm release mongodb v16.3.3
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: inf-2146 separate image attribute overrides
  parcellab/common/templates/_pod.tpl
Labels: none

feat: inf-2146 separate image attribute overrides
  parcellab/common/templates/_names.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

chore(monolith): pin helm release mongodb v16.3.3 (#303)
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: inf-2146 bump version of charts
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml
