Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

feat: add DD_AGENT_HOST to the container env if datadog is enabled
  parcellab/common/Chart.yaml
  parcellab/common/templates/_datadog.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: add DD_AGENT_HOST to the container env if datadog is enabled (#163)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_datadog.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: revert adding DD_AGENT_HOST to the container env if datadog is enabled
  parcellab/common/Chart.yaml
  parcellab/common/templates/_datadog.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: revert adding DD_AGENT_HOST to the container env if datadog is enabled (#164)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_datadog.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: make scaleoninflight configurable
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

chore: Adding a default value for scaleInOnFlight
  parcellab/common/templates/_keda.tpl
Labels: none

chore: We only use KEDA scaling with visible messages (#161)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: We need to use quotes even with boolean values
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: let's use double quotes
  parcellab/common/templates/_keda.tpl
Labels: none

fix: fixing keda template creation (#165)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: It seems double quotes are wrong
  parcellab/common/templates/_keda.tpl
Labels: none

fix: updating versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: fixing keda template creation (#166)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_keda.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin prettier v3.1.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.1.1 dev
  package-lock.json
  package.json
Labels: deps, json

feat: adding terminationGracePeriodSeconds option in common chart
  parcellab/common/templates/_pod.tpl
Labels: none

feat: increasing versions for all charts
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: adding into example value file
  parcellab/common/values.yaml
Labels: yaml

feat: adding into examples values files
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: adding terminationGracePeriodSeconds option in common chart (#168)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: adds support for host aliases which is required for soliver kafka
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: adds support for host aliases which is required for soliver kafka
  parcellab/common/templates/_pod.tpl
  parcellab/monolith/values.yaml
Labels: yaml

chore: adds support for host aliases which is required for soliver kafka (#169)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: typo fix
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: adds datadog socket volume safe-to-evict annotation
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: adds datadog socket volume safe-to-evict annotation (#170)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: proper worker default values
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: proper worker default values (#171)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: made a mistake with defaults, need a deepcopy and mergeoverwrite
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: made a mistake with defaults, need a deepcopy and mergeoverwrite (#172)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment-workers.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
