Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

feat: Updating workflow for releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating workflow for releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating workflow for releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating workflow for releases.
  .github/workflows/test.yaml
Labels: ci, yaml

feat: Updating workflow for releases.
  .github/workflows/test.yaml
Labels: ci, yaml

fix: Pumping worker-group version.
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Rolling back worker-group version.
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: Updating workflow for releases.
  .github/workflows/release.yaml
Labels: ci, yaml

feat: Updating workflow for releases.
  .github/workflows/release.yaml
Labels: ci, yaml

feat: Rolling back changes in workflow.
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Pumping worker-group version.
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Pumping chart versions.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: Pumping charts versions.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: Adding argoRollout configuration for extra services in monolith chart.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: Adding argoRollout configuration for extra services in monolith chart. (#214)
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chor: Pump versions for all charts.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v15 (#205)
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: Fixing metadata name for rollout template in common chart.
  parcellab/common/Chart.yaml
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Fixing metadata name for rollout template in common chart. (#215)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: Fixing argoRollout template.
  parcellab/common/templates/_rollout.tpl
Labels: none

feat: Updating rollout template to use custom values for each service.
  parcellab/common/templates/_rollout.tpl
Labels: none

fix: Pumping charts versions.
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: Updating rollout template to use custom values for each service. (#217)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: Updating gituhb actions.
  .github/workflows/release.yaml
Labels: ci, yaml

chore: Updating gituhb actions. (#219)
  .github/workflows/release.yaml
Labels: ci, yaml

chore: Updating gituhb actions.
  .github/workflows/release.yaml
Labels: ci, yaml

chore: Updating gituhb actions. (#220)
  .github/workflows/release.yaml
Labels: ci, yaml

fix: Fix YAML parsing issue in poddisruptionbudget and rollout extraservices.
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/rollout-service.yaml
Labels: yaml

fix: Fix YAML parsing issue in poddisruptionbudget and rollout extraservices. (#221)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/poddisruptionbudget-service.yaml
  parcellab/monolith/templates/rollout-service.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin lint-staged ^15.2.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.4 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v3.3.0 dev
  package-lock.json
  package.json
Labels: deps, json
