Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

feat: inf-2146 removed unused code
  parcellab/common/templates/_names.tpl
Labels: none

feat: inf-2146 variable renamed
  parcellab/common/templates/_pod.tpl
Labels: none

feat: inf-2146 bump version
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: inf-2146 separate image attribute overrides (#305)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_names.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin lint-staged ^15.2.11 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v20.4.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.2.11 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.4.0
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.5.0
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.0 (#308)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.5.0 (#307)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin @commitlint/cli v19.6.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v19.6.1 dev (#309)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v20.6.0
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.6.0 (#310)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v6
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(monolith): pin helm release redis v20.6.1
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.6.1 (#312)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: INF-2083 Removing default resources
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: INF-2083 New version for each chart
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v6 (#311)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(): pin lint-staged ^15.3.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.3.0 dev (#314)
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin parcellab/ci action v7
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(workflows): pin parcellab/ci action v7 (#315)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(monolith): pin helm release redis v20.6.2
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.6.2 (#316)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.6.3
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.1
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.4.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v20.6.3 (#317)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.1 (#318)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.4.0 dev (#319)
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.4.2
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin helm/chart-releaser-action action vv1.7.0
  .github/workflows/release.yaml
Labels: ci, yaml

chore(monolith): pin helm release mongodb v16.4.2 (#321)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin helm/chart-releaser-action action vv1.7.0 (#322)
  .github/workflows/release.yaml
Labels: ci, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
