Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

chore(): pin node.js >=v20.19.0
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v20.19.0 (#356)
  package-lock.json
  package.json
Labels: deps, json

feat: implement defaultBackend for ingress
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: implement defaultBackend for ingress (#357)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: defaultBackend
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: defaultBackend (#358)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: path for defaultBackend parameters
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: path for defaultBackend parameters (#359)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.8
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.4
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.4 (#361)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.8 (#360)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.9
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.9 (#362)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.11
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.11 (#363)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v8
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(monolith): pin helm release mongodb v16.4.12
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.12 (#365)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin parcellab/ci action v8 (#364)
  .github/workflows/json.yaml
  .github/workflows/pr.yaml
  .github/workflows/yaml.yaml
Labels: ci, yaml

chore(monolith): pin helm release mongodb v16.5.0
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.0 (#366)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.5
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.5.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.5.1 dev (#368)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.5.1
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.1 (#369)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: ensure vpa is deployed to workers and extraServices correctly
  parcellab/common/Chart.yaml
  parcellab/common/templates/_vpa.tpl
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/vpa.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

set default target kind
  parcellab/common/templates/_vpa.tpl
Labels: none

chore(monolith): pin helm release redis v20.11.5 (#367)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: INF-2431 ensure vpa is deployed correctly to workers and extraServices (#370)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_vpa.tpl
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/vpa.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: add missing argoRollout conditional check
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/rollout.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/rollout.yaml
Labels: yaml

fix: add missing argoRollout conditional check (#371)
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/rollout.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/rollout.yaml
Labels: yaml

fix: argoRollout conditional end statement
  parcellab/microservice/templates/rollout.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/monolith/templates/rollout.yaml
  parcellab/worker-group/templates/rollout.yaml
Labels: yaml

fix: argoRollout conditional end statement (#372)
  parcellab/microservice/templates/rollout.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/monolith/templates/rollout.yaml
  parcellab/worker-group/templates/rollout.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml
