Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

chore(): pin node.js >=v18.15.0
  package-lock.json
  package.json
Labels: deps, json

feat: added support for separate secrets and configmaps for containers
  parcellab/common/templates/_configmap.tpl
  parcellab/common/templates/_container.tpl
  parcellab/microservice/templates/configmap.yaml
  parcellab/microservice/templates/externalsecret.yaml
Labels: yaml

feat: corrected values
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/microservice/templates/configmap.yaml
  parcellab/microservice/templates/externalsecret.yaml
Labels: yaml

feat: adjusted value template
  parcellab/microservice/values.yaml
Labels: yaml

feat: added newline
  parcellab/microservice/templates/configmap.yaml
Labels: yaml

fix: datadog template description
  parcellab/common/templates/_datadog.tpl
Labels: none

Update parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

Update parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

Update parcellab/common/templates/_pod.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

fix: added description for the values in container template
  parcellab/common/templates/_container.tpl
Labels: none

fix: removed obsolete variables
  parcellab/common/templates/_container.tpl
Labels: none

fix: correctet indendation
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/microservice/templates/configmap.yaml
Labels: yaml

chore(): pin lint-staged ^13.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.8.4
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^13.2.0 dev (#74)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.8.4 (#70)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.15.0 (#61)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release postgresql v12.2.2 (#72)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: bump charts that depend on redis and postgres
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: rolled back configmap template check on .Values (the value is mandatory)
  parcellab/common/templates/_configmap.tpl
Labels: none

Update parcellab/microservice/values.yaml
  parcellab/microservice/values.yaml
Labels: yaml

chore: increase chart versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: extend microservice to support sidecars and initcontainers (#71)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_datadog.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/common/values.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/configmap.yaml
  parcellab/microservice/templates/externalsecret.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin prettier v2.8.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.5 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.6 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.6 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v17.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v17.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin prettier v2.8.7 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v17.5.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v17.5.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.2.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^13.2.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v18.16.0
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.6.0 dev
  package-lock.json
  package.json
Labels: deps, json

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
