Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

chore(monolith): pin helm release redis v20.11.1 (#342)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.2
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.2 (#343)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin commitlint monorepo v19.8.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.8.0 dev
  package-lock.json
  package.json
Labels: deps, json

feat: adding extra conditionals for rollouts
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_hpa.tpl
  parcellab/common/templates/_ingress.tpl
Labels: none

feat: adding extra conditionals for rollouts
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.6
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.3
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: adjust resources argorollout (#345)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_hpa.tpl
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.6 (#346)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v20.11.3 (#347)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

fix: define ArgoRollout variable in deployment and hpa
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_hpa.tpl
Labels: none

fix: define ArgoRollout variable in deployment and hpa (#348)
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_hpa.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: yaml

fix: set Deployment replicas to 0 in case of rollout
  parcellab/common/templates/_deployment.tpl
Labels: none

fix: set Deployment replicas to 0 in case of rollout (#349)
  parcellab/common/templates/_deployment.tpl
Labels: none

remove -
  parcellab/common/templates/_deployment.tpl
Labels: none

fix: rework argo rollouts template
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/monolith/templates/rollout.yaml
  parcellab/monolith/templates/service.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

remove argocd conditional from service
  parcellab/monolith/templates/service.yaml
Labels: yaml

fix: rework argo rollouts template (#350)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/deployment.yaml
  parcellab/monolith/templates/rollout-service.yaml
  parcellab/monolith/templates/rollout.yaml
  parcellab/monolith/templates/service.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: fix analysis references
  parcellab/common/templates/_rollout.tpl
Labels: none

bump versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: fix analysis references (#351)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore: remove replicas for rollout, omit for deployment if needed
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_rollout.tpl
Labels: none

bump versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

chore: fix replicas parameter (#352)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.4.7
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin lint-staged ^15.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.5.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.4.7 (#353)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: add same conditionals to all charts
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/deployment.yaml
  parcellab/microservice/templates/hpa.yaml
  parcellab/microservice/templates/rollout.yaml
  parcellab/microservice/templates/vpa.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/hpa-services.yaml
  parcellab/monolith/templates/hpa.yaml
  parcellab/monolith/templates/vpa.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/hpa.yaml
  parcellab/worker-group/templates/rollout.yaml
  parcellab/worker-group/templates/vpa.yaml
Labels: yaml

fix stuff
  parcellab/microservice/templates/hpa.yaml
  parcellab/microservice/templates/vpa.yaml
  parcellab/monolith/templates/hpa.yaml
  parcellab/monolith/templates/vpa.yaml
  parcellab/worker-group/templates/hpa.yaml
  parcellab/worker-group/templates/vpa.yaml
Labels: yaml

add api conditional to hpa and vpa
  parcellab/common/Chart.yaml
  parcellab/common/templates/_hpa.tpl
  parcellab/common/templates/_vpa.tpl
  parcellab/monolith/templates/hpa-services.yaml
Labels: yaml

remove
  parcellab/common/values.yaml
Labels: yaml

chore: add same conditionals to all charts (#355)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_hpa.tpl
  parcellab/common/templates/_vpa.tpl
  parcellab/common/values.yaml
  parcellab/microservice/Chart.yaml
  parcellab/microservice/templates/deployment.yaml
  parcellab/microservice/templates/hpa.yaml
  parcellab/microservice/templates/rollout.yaml
  parcellab/microservice/templates/vpa.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/hpa.yaml
  parcellab/monolith/templates/vpa.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/templates/rollout.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
