Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

Update index.yaml
  index.yaml
Labels: yaml

Revert "feat: Add `args` support to the jobs (#252)"
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Revert command merge change
  parcellab/common/templates/_pod.tpl
Labels: none

get args conditional back
  parcellab/common/templates/_pod.tpl
Labels: none

bump versions
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: Revert command merge change (#255)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

test change
  parcellab/worker-group/Chart.yaml
Labels: yaml

close if statement
  parcellab/common/templates/_pod.tpl
Labels: none

close if statement (#257)
  parcellab/common/templates/_pod.tpl
Labels: none

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v19.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v19.4.1 dev
  package-lock.json
  package.json
Labels: deps, json

fix: disable mongodb by default
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

fix comment
  parcellab/monolith/values.yaml
Labels: yaml

Update parcellab/monolith/values.yaml
  parcellab/monolith/values.yaml
Labels: yaml

fix: disable mongodb by default (#259)
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin lint-staged ^15.2.10 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged ^15.2.10 dev (#260)
  package-lock.json
  package.json
Labels: deps, json

feat: Changing rollout preview services name to avoid confusion with preview environment
  parcellab/common/templates/_rollout.tpl
Labels: none

feat: Upgrading charts versions
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: Changing rollout preview services name (#261)
  parcellab/common/templates/_rollout.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: INF-1799 Adding step in release pipeline to bump the versions for charts
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 Commenting condition in job for testing
  .github/workflows/release.yaml
Labels: ci, yaml

Bump version
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: INF-1799 Rollong back tests
  .github/workflows/release.yaml
  parcellab/common/Chart.yaml
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: ci, yaml

feat: INF-1799 version bumping update
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 version bumping update
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 using find
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 using find
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 Adding step in release pipeline to bump the versions for charts (#262)
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 adding extra step to run release job only when charts change
  .github/workflows/release.yaml
Labels: ci, yaml

feat: Updating Release pipeline
  .github/workflows/release.yaml
Labels: ci, yaml

feat: INF-1799 adding extra step to run release job only when charts change (#263)
  .github/workflows/release.yaml
Labels: ci, yaml

chore(monolith): pin helm release redis v20
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v15.5.29
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: make argo hook conditional, allow specify image on job level
  parcellab/common/templates/_job.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

return default hook value
  parcellab/common/templates/_job.tpl
Labels: none

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
