Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"

feat: add support for ttlSecondsAfterFinished for jobs
  parcellab/common/templates/_job.tpl
  parcellab/monolith/values.yaml
Labels: yaml

feat: switched to hookDeletePolicy instead of ttlSecondsAfterFinished to ensure sync with ArgoCD
  parcellab/common/templates/_job.tpl
  parcellab/monolith/values.yaml
Labels: yaml

feat: add support for ttlSecondsAfterFinished for jobs (#122)
  parcellab/common/templates/_job.tpl
  parcellab/monolith/values.yaml
Labels: yaml

fix: version bump for common and monolith to activate the new job setting
  parcellab/common/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.12.10
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v18
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.18.2
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v17.17.1 (#110)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release postgresql v12.12.10 (#111)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v18.18.2 (#113)
  package.json
Labels: deps, json

chore(monolith): pin helm release redis v18 (#119)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(workflows): pin actions/checkout action v4 (#121)
  .github/workflows/test.yaml
Labels: ci, yaml

chore(): pin commitlint monorepo v17.8.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.8.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged v15 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin lint-staged v15 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.8.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v17.8.1 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js v20
  package-lock.json
  package.json
Labels: deps, json

feat: adding autoscaling for extra services in monolith
  parcellab/common/Chart.yaml
  parcellab/common/templates/_hpa.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/hpa-services.yaml
Labels: yaml

feat: enabling replicaCount for extra services
  parcellab/common/templates/_deployment.tpl
Labels: none

feat: enabling replicaCount for extra services
  parcellab/common/templates/_deployment.tpl
Labels: none

feat: adding autoscaling for extra services in monolith (#130)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_deployment.tpl
  parcellab/common/templates/_hpa.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/hpa-services.yaml
Labels: yaml

feat: updating parcellab charts with latest common templates
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: updating parcellab charts with latest common templates
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
Labels: yaml

feat: updating parcellab charts with latest common templates (#131)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: updating monolith chart to use latest common templates
  parcellab/monolith/Chart.yaml
Labels: yaml

feat: updating monolith chart to use latest common templates (#132)
  parcellab/monolith/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

chore(): pin commitlint monorepo v18.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin commitlint monorepo v18.1.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v18.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(): pin @commitlint/cli v18.2.0 dev
  package-lock.json
  package.json
Labels: deps, json

chore(workflows): pin helm/chart-releaser-action action vv1.6.0
  .github/workflows/test.yaml
Labels: ci, yaml

feat: removing default value for readOnly parameter in volumes
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

feat: removing default value for readOnly parameter in volumes (#136)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml
