Repository parcelLab/charts, changes with the labels that .github/labeler.yaml gives for each.
All labels: build, ci, deps, deployment, docs, json, shell, style, test, yaml

chore(monolith): pin helm release mongodb v16.5.7
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v21.0.3
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v21.0.3 (#393)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.7 (#392)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(): pin node.js >=v20.19.2
  package-lock.json
  package.json
Labels: deps, json

chore(): pin node.js >=v20.19.2 (#394)
  package-lock.json
  package.json
Labels: deps, json

chore(monolith): pin helm release mongodb v16.5.8
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v21.1.3
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.8 (#396)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v21.1.3 (#395)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.9
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v21.1.5
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.9 (#397)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release redis v21.1.5 (#398)
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.11
  parcellab/monolith/Chart.yaml
Labels: yaml

chore(monolith): pin helm release mongodb v16.5.11 (#399)
  parcellab/monolith/Chart.yaml
Labels: yaml

chore: set renovate schedule
  renovate.json
Labels: json

chore: set renovate schedule (#400)
  renovate.json
Labels: json

chore: add copilot-instructions.md
  .github/copilot-instructions.md
Labels: docs

chore: add copilot-instructions.md (#402)
  .github/copilot-instructions.md
Labels: docs

fix: inf-2797 argorollout values for ingress template
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: inf-2797 argorollout values for ingress template (#403)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_ingress.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: security context
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: update version
  parcellab/common/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: security context (#404)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

bug: inf-2837 fixing bug with securityContext
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

bug: inf-2837 fixing bug with securityContext
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
Labels: none

fix: inf-2837 fixing bug with securityContext (#405)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

bug: inf-2837 fixing bug with securityContext and podSecurityContext
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

bug: inf-2837 fixing bug with securityContext and podSecurityContext
  parcellab/common/templates/_pod.tpl
Labels: none

fix: inf-2837 fixing bug with securityContext and podSecurityContext (#406)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_container.tpl
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

fix: sidecar or initContainer reference
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

fix: sidecar or initContainer reference (#407)
  parcellab/common/Chart.yaml
  parcellab/common/templates/_pod.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/microservice/Chart.yaml
  parcellab/monolith/Chart.yaml
  parcellab/worker-group/Chart.yaml
Labels: yaml

Update index.yaml
  index.yaml
Labels: yaml

feat: remove github ImagePullSecrets
  parcellab/common/Chart.yaml
  parcellab/common/values.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

feat: remove github ImagePullSecrets (#408)
  parcellab/common/Chart.yaml
  parcellab/common/values.yaml
  parcellab/cronjob/values.yaml
  parcellab/microservice/values.yaml
  parcellab/monolith/Chart.yaml
  parcellab/monolith/values.yaml
  parcellab/worker-group/Chart.yaml
  parcellab/worker-group/values.yaml
Labels: yaml

.github/labeler.yaml:

build:
  - "Makefile"
  - "**/tsconfig.*"
  - "tsconfig.*"
ci:
  - ".github/workflows/*"
  - ".github/workflows/**/*"
deps:
  - "go.mod"
  - "go.sum"
  - "package.json"
  - "package-lock.json"
deployment:
  - ".dockerignore"
  - "Containerfile"
  - "Dockerfile"
  - "plconfig.yaml"
docs:
  - "CODEOWNERS"
  - "*.md"
  - "**/*.md"
json:
  - "*.json"
  - "**/*.json"
shell:
  - "*.sh"
  - "**/*.sh"
style:
  - ".eslintignore"
  - ".eslintrc.js"
  - ".prettierignore"
  - ".prettierrc.json"
test:
  - "**/*.spec.js"
  - "**/*.spec.ts"
  - "**/*.test.js"
  - "**/*.test.ts"
  - "**/__test__/*"
  - "**/__test__/**/*"
yaml:
  - "*.yaml"
  - "*.yml"
  - "**/*.yaml"
  - "**/*.yml"
