Repository parcelLab/charts, pull requests merged in 2022-09, with the labels that each got.

#15 Move activeDeadlineSeconds/backoffLimit to `spec:`
  .github/workflows/pr.yaml
  parcellab/common/Chart.yaml
  parcellab/common/templates/_cronjob.tpl
  parcellab/cronjob/Chart.yaml
  parcellab/monolith/Chart.yaml
Labels: ci, yaml

#19 INF-27: remove deprecated metabase chart.
  parcellab/metabase/Chart.yaml
  parcellab/metabase/README.md
  parcellab/metabase/templates/NOTES.txt
  parcellab/metabase/templates/configmap.yaml
  parcellab/metabase/templates/deployment.yaml
  parcellab/metabase/templates/externalsecret.yaml
  parcellab/metabase/templates/ingress.yaml
  parcellab/metabase/templates/service.yaml
  parcellab/metabase/templates/serviceaccount.yaml
  parcellab/metabase/templates/tests/test-connection.yaml
  parcellab/metabase/values.yaml
Labels: yaml, docs

#20 feature: adds support for ArgoCD hooks to monolith helm chart
  parcellab/common/templates/_job.tpl
  parcellab/monolith/Chart.yaml
  parcellab/monolith/templates/job.yaml
  parcellab/monolith/values.yaml
Labels: yaml
